TmpBank/Web References/ServiceHost/UserFinderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://localhost:5288" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://localhost:5288" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost:5288">
      <s:element name="FindUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="partialName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindUserResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="History" type="tns:ArrayOfSearchHistory" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSearchHistory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SearchHistory" nillable="true" type="tns:SearchHistory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SearchHistory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SayHi">
        <s:complexType />
      </s:element>
      <s:element name="SayHiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SayHiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindUserSoapIn">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="FindUserSoapOut">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="SayHiSoapIn">
    <wsdl:part name="parameters" element="tns:SayHi" />
  </wsdl:message>
  <wsdl:message name="SayHiSoapOut">
    <wsdl:part name="parameters" element="tns:SayHiResponse" />
  </wsdl:message>
  <wsdl:portType name="UserFinderServiceSoap">
    <wsdl:operation name="FindUser">
      <wsdl:input message="tns:FindUserSoapIn" />
      <wsdl:output message="tns:FindUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SayHi">
      <wsdl:input message="tns:SayHiSoapIn" />
      <wsdl:output message="tns:SayHiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserFinderServiceSoap" type="tns:UserFinderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://localhost:5288/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHi">
      <soap:operation soapAction="http://localhost:5288/SayHi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserFinderServiceSoap12" type="tns:UserFinderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindUser">
      <soap12:operation soapAction="http://localhost:5288/FindUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHi">
      <soap12:operation soapAction="http://localhost:5288/SayHi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserFinderService">
    <wsdl:port name="UserFinderServiceSoap" binding="tns:UserFinderServiceSoap">
      <soap:address location="http://localhost:5288/UserFinderService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserFinderServiceSoap12" binding="tns:UserFinderServiceSoap12">
      <soap12:address location="http://localhost:5288/UserFinderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>